<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Title</title>
        {% include 'header.html' %}
    </head>
    <body>
        {% include 'navigation.html' %}
        <div class="container">
            <h2>Архив новостей</h2>
            <div class="page-header">
                <h1>Hello, world! <small>26 июля</small></h1>
            </div>
            <div class="row">
               <div class="col-md-4">
                   <h3>Military social network wants you to hire a vet for your next tech opening</h3>
                   <div class="row">
                       <div class="col-md-6">
                           Veteran-focused social platform Sandboxx wants to pair its community members with experts who
                           can ease their transition back into the workforce — and hopefully even land them a job.
                           Global firm Betts Recruiting will join the self-described “military media and technology company”
                       </div>
                       <div class="col-md-6">
                            <img width="70%" src="https://tctechcrunch2011.files.wordpress.com/2017/04/screen-shot-2017-04-28-at-6-36-40-pm.png?w=208&h=156&crop=1&quality=85&strip=all" />
                       </div>
                   </div>
               </div>
                <div class="col-md-4">
                   <h3>Military social network wants you to hire a vet for your next tech opening</h3>
                   <div class="row">
                       <div class="col-md-6">
                           Veteran-focused social platform Sandboxx wants to pair its community members with experts who
                           can ease their transition back into the workforce — and hopefully even land them a job.
                           Global firm Betts Recruiting will join the self-described “military media and technology company”
                       </div>
                       <div class="col-md-6">
                            <img width="70%" src="https://tctechcrunch2011.files.wordpress.com/2017/04/gettyimages-541025566.jpg?w=208&h=156&crop=1&quality=85&strip=all" />
                       </div>
                   </div>
                 </div>
                <div class="col-md-4">
                   <h3>Former NSA director explains why the spy agency will end a controversial surveillance technique</h3>
                   <div class="row">
                       <div class="col-md-6">
                           Earlier today, the NSA announced its intentions to limit a surveillance technique that had a
                           nasty side effect of sweeping up communications to and from Americans. In a rare unprompted press
                       </div>
                       <div class="col-md-6">
                            <img width="70%" src="https://tctechcrunch2011.files.wordpress.com/2016/05/tcdisrupt_ny16-5666.jpg?w=208&h=156&crop=1&quality=85&strip=all" />
                       </div>
                   </div>
                 </div>
            </div>
        </div>
    </body>
</html>